<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<head>
<title>Colored  an Admin Panel Category Flat Bootstrap Responsive Website Template | Blank :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Colored Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/static/aa/css/bootstrap.css">
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/static/aa/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/static/aa/css/font.css" type="text/css"/>
<link href="/static/aa/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="/static/aa/js/jquery2.0.3.min.js"></script>
<script src="/static/aa/js/modernizr.js"></script>
<script src="/static/aa/js/jquery.cookie.js"></script>
<script src="/static/aa/js/screenfull.js"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});	
		});
		</script>
		
</head>
<body class="dashboard-page">

	<nav class="main-menu">
		<ul>
			
			<li class="has-subnav">
				
				<i class="fa fa-cogs" aria-hidden="true"></i>
				<span class="nav-text">
						Add members
				</span>
				<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
				<ul>
					<li>
					<a class="subnav-text" href="/addmem/">
					New members
					</a>
					</li>
					<li>
					<a class="subnav-text" href="/member_view/">
					Member List
					</a>
					</li>
				</ul>
			</li>
			<li class="has-subnav">
				<a href="/attendance/">
				<i class="fa fa-check-square-o nav_icon"></i>
				<span class="nav-text">
				Attendance marking
				</span>
				<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
				
			</li>
			<li class="has-subnav">
				<a href="/loanapplication/">
					<i class="fa fa-file-text-o nav_icon"></i>
						<span class="nav-text">Loan application</span>
					<i class="icon-angle-right"></i><i class="icon-angle-down"></i>
				</a>
				
			</li>
			<li>
				<a href="/repayment/">
					<i class="fa fa-bar-chart nav_icon"></i>
					<span class="nav-text">
						Loan repayment tracking
					</span>
				</a>
			</li>
			
		<ul class="logout">
			<li>
			<a href="/Logout/">
			<i class="icon-off nav-icon"></i>
			<span class="nav-text">
			Logout
			</span>
			</a>
			</li>
		</ul>
	</nav>
	<section class="wrapper scrollable">
		
		<section class="title-bar">
			
			<div class="header-right">
				<div class="profile_details_left">
					<div class="header-right-left">
						
					</div>
					<div class="profile_details">		
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">	
										<span class="prfil-img"><i class="fa fa-user" aria-hidden="true"></i></span> 
										<div class="clearfix"></div>	
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu">
									<!-- <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>  -->
									<li> <a href="/Logout/"><i class="fa fa-sign-out"></i> Logout</a> </li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</section>
		<div class="main-grid">
			<div class="agile-grids">	
				<!-- blank-page -->


		{% block content %}
		{% endblock %}
		<!-- <div class="footer">
			<p>© 2016 Colored . All Rights Reserved . Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div> -->
		<!-- //footer -->
	</section>
	<script src="/static/aa/js/bootstrap.js"></script>
	<script src="/static/aa/js/proton.js"></script>
</body>
</html>